/*********************************
Novas tags html -> header, nav, footer, article, section, time, aside*/
header{
	padding: 10px;
	background: #f2f2f2;
	border: 1px solid #ccc;
	text-align: center;
}

nav{
	border: 1px solid green;
	background: #f2f2f2;
	padding: 10px;
}

nav ul{
	text-align: center;
	border: 1px solid red;
}

nav li{
	border: 1px dashed blue;
	margin-top: 10px;
	list-style: none;
	float: left;
	display: block;
	padding: 10px;
	margin-right: 20px;
	background: yellow;
	border-radius: 20px;
	width: 150px;
	text-align: center;
}

footer{
	background: gray;
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

article{
	background: orange;
	padding: 10px;
}

section{
	border: 1px dotted white;
	margin-bottom: 5px;
}

aside{
	background: blue;
	float: right;
	margin-top: -50px;
	height: 70px;
	line-height: 30px;
}








/*********************************
Transições*/
/*#caixa{
	width: 300px;
	height: 5px;
	background: orange;
}

#caixa:hover {
	width: 400px;
	background: yellow;	
	-webkit-transition: width 3s, background 3s;;
	-moz-transition: width 3s, background 3s;;
	-o-transition: width 3s, background 3s;;
	transition: width 1s, background 1s;
}

h1{
	border-bottom: 1px solid black;
	display: inline;
}

h1:hover{
	border-bottom: 1px solid yellow;
	transition: background 1s;
}*/



/********************************
Animações*/
/*@keyframes animacao{
	from{
		background: red;
		border-radius: 0;
		top: 0;
		left: 0;
	}

	to{
		background: yellow;
		border-radius: 300px;
		top: 200px;
		left: 200px;
		top: 400px;
		left: 400px;
	}
}


#caixa{
	width: 300px;
	height: 300px;
	background: red;
	box-sizing: border-box;
	position: relative;
	animation: animacao 10s 0s 10 alternate;
}*/



/*#caixa{
	width: 300px;
	height: 300px;
	box-sizing: border-box;
	padding: 15px;
	margin: 20px;
	background: #009670;
	box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.5);
}

#caixa h1{
	color: white;
	text-shadow: -10px -10px black;
	text-shadow: -10px -10px 2px rgba(0, 0, 0, 0.5);
}*/

/*#caixa{
	width: 300px;
	height: 300px;
	background: url('../imagens/camera.png');
	background: linear-gradient(45deg, red, green, yellow, green);
	background: radial-gradient(red, green, yellow, gray);
	box-sizing: border-box;
}*/

/*#caixa h1{
	background: rgba(255, 255, 255, 0.5);
}*/

/*#caixa{
	width: 400px;
	height: 300px;
	background-color: #b9c941;
	box-sizing: border-box;Neste propriedade,
	o tamanho da caixa é fixa e não se modifica
	caso o conteúdo seja grande, apenas se adapta
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 50px 30px;*/

	/*-webkit-border-radius: 20px 90px;
	-moz-border-radius: 20px 90px;
	border-radius: 20px 90px;*/
/*}

#caixa2{
	width: 300px;
	height: 300px;
	background-color: #b9c941;
	box-sizing: border-box;
	padding: 50px 30px;
	margin-top: 10px;*/
	/*-webkit-border-radius: 20px 90px;
	-moz-border-radius: 20px 90px;
	border-radius: 20px 90px;*/
/*}*/


